<div id="header">
	<div id="padd-categories">
	<ul>
		<li><a href="{U_INDEX}">{L_INDEX}</a></li>
		<li><a href="{L_URLPP}">{L_PARTIPIRATE}</a></li>
		<li><a href="{L_URLPP}/spip.php?rubrique1">{L_ACTU}</a>
			<ul><li><a href="{L_URLPP}/spip.php?rubrique2">{L_BLOG}</a></li>
				<li><a href="{L_URLPP}/spip.php?rubrique4">{L_COMMUNIQUES}</a></li>
				<li><a href="{L_URLPP}/spip.php?rubrique5">{L_REVU_PRESSE}</a></li>
				<li><a href="{L_URLPP}/spip.php?rubrique12">{L_PLANETE_PP}</a></li>
				<li><a href="{L_URLPP}/?page=agenda">{L_AGENDA}</a></li>				
			</ul>
		</li>
		<li><a href="{L_URLPP}/spip.php?rubrique6">{L_NOUS}</a>
			<ul>
				<li><a href="{L_URLPP}/spip.php?rubrique6">{L_PRESENTATION}</a></li>
				<li><a href="{L_URLPP}/spip.php?rubrique14">{L_PROGRAMME}</a></li>
				<li><a href="{L_URLPP}/spip.php?rubrique15">{L_AUTRES_IDEES}</a></li>
				<li><a href="{L_URLPP}/spip.php?rubrique18">{L_LEGIS2012}</a></li>
				<li><a href="{L_URLPP}/spip.php?rubrique16">{L_PETITIONS}</a></li>
			</ul>
		</li>
		<li><a href="{L_URLPP}/spip.php?rubrique7">{L_ADHEREZ}</a>
			<ul>
				<li><a href="{L_URLPP}/spip.php?rubrique7">{L_DEVENIR_PP}</a></li>
				<li><a href="{L_URLPP}/spip.php?article83">{L_DON}</a></li>
			</ul>
		</li>							
		<li><a href="{L_URLPP}/spip.php?rubrique17">{L_PARTICIPEZ}</a>
			<ul>
				<li><a href="{L_URLWIKI}">{L_WIKI}</a></li>
				<li><a href="{U_INDEX}">{L_FORUM}</a></li>
				<li><a href="{L_URLLIQDEM}">{L_LIQD_FEED}</a></li>
				<li><a href="{L_URLLISTS}">{L_LISTE_DIFF}</a></li>
				<li><a href="{L_URLPP}/spip.php?article54">{L_IRC}</a></li>				
				<li><a href="{L_URLPP}/spip.php?page=login">{L_CONTRIB_SITE}</a></li>								
			</ul>
		</li>		
		<li><a href="{L_URLPP}/spip.php?rubrique8">{L_SL}</a>
			<ul>
				<li><a href="{L_URLPP}/spip.php?article155">{L_FINANCE_SL}</a></li>
				<li><a href="{L_URLPP}/spip.php?article204">{L_COORD}</a></li>
				<li><a href="{L_URLPP_AL}">{L_PP_AL}</a></li>
				<li><a href="{L_URLPP_AQ}">{L_PP_AQ}</a></li>
				<li><a href="{L_URLPP_BZH}">{L_PP_BZH}</a></li>
				<li><a href="{L_URLPP_FC}">{L_PP_FC}</a></li>
				<li><a href="{L_URLPP_IDF}">{L_PP_IDF}</a></li>
				<li><a href="{L_URLPP_RE}">{L_PP_RE}</a></li>
				<li><a href="{L_URLPP_NPDC}">{L_PP_NPDC}</a></li>
				<li><a href="{L_URLPP_PACA}">{L_PP_PACA}</a></li>								
				<li><a href="{L_URLPP_MP}">{L_PP_MP}</a></li>
				<li><a href="{L_URLPP_PC}">{L_PP_PC}</a></li>
				<li><a href="{L_URLPP_RA}">{L_PP_RA}</a></li>
				<li><a href="{L_URLPP}/spip.php?article15">{L_LISTE_REGION}</a></li>
			</ul>
		</li>
		<li><a href="{L_URLPP}/spip.php?rubrique10">{L_CREA}</a>
			<ul>
				<li><a href="{L_URLPP}/spip.php?rubrique19">{L_AFFICHES}</a></li>
				<li><a href="{L_URLPP_BOUTIQUE}">{L_BOUTIQUE}</a></li>
				<li><a href="{L_URLPP}/spip.php?article20">{L_COMPIL1}</a></li>
				<li><a href="{L_URLPP}/spip.php?article81">{L_COMPIL2}</a></li>
				<li><a href="{L_URLPP}/spip.php?article7">{L_RADIO}</a></li>
			</ul>
		</li>		
		<li><a href="{L_URLPP}/spip.php?rubrique11">{L_CONTACTS}</a>
			<ul>
				<li><a href="{L_URLPP}/spip.php?article117">{L_CONTACT_SITE}</a></li>
				<li><a href="{L_URLPP}/spip.php?article22">{L_CONTACT_SL}</a></li>
				<li><a href="{L_URLPP}/spip.php?article21">{L_RESPONSABLES}</a></li>
				<li><a href="{L_URLPP}/spip.php?article148">{L_CHARGE_MISSION}</a></li>
			</ul>
		</li>				
	</ul>
</div>
</div>
