<!-- INCLUDE overall_header.html -->
<br />
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl class="icon_ag">
							<dt>{L_DOCUMENTS_AG}</dt>					
							<dd class="document_ag">&nbsp;</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<li class="row">
					<dl class="icon_ag">
						<dt class="dl_ag">
							<dd class="dl_ag"><span>{L_STATUTS_AG}</span></dd>												
							<dd class="dl_ag"><span>{L_RI_AG}</span></dd>																		
							<dd class="dl_ag"><span>{L_BULLETIN_AG}</span></dd>		
						</dt>
						<dt>
							<dd class="dl_ag"><a class="info_dl_pdf" href="documents/statuts.pdf">{L_FICHIER_PDF}<span>&nbsp;</span></a></dd>						
							<dd class="dl_ag"><a class="info_dl_pdf" href="documents/ri.pdf">{L_FICHIER_PDF}<span>&nbsp;</span></a></dd>						
							<dd class="dl_ag"><a class="info_dl_pdf" href="documents/formulaire_vote.pdf">{L_FICHIER_PDF}<span>&nbsp;</span></a></dd>						
						</dt>
						<dt>
							<dd class="dl_ag"><a class="info_dl_odt" href="documents/statuts.odt">{L_FICHIER_ODT}<span>&nbsp;</span></a></dd>						
							<dd class="dl_ag"><a class="info_dl_odt" href="documents/ri.odt">{L_FICHIER_ODT}<span>&nbsp;</span></a></dd>						
							<dd class="dl_ag"><a class="info_dl_odt" href="documents/formulaire_vote.odt">{L_FICHIER_ODT}<span>&nbsp;</span></a></dd>								
						</dt>			
					</dl>	
					</li>
				</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<br />                
		
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl class="icon_ag">
							<dt>{L_POSTES_CA}</dt>					
							<dd class="document_ag">&nbsp;</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<li class="row">
						<dl class="icon_ag">
							<div class="ag-image" id="img_cap">Parti Pirate</div>
							<dt title="{L_CANDIDAT}">
								<a href="http://forum.partipirate.org/membre/cry-stof/" class="forumtitle" target="_blank">{L_QQDQQ}</a><br />
								{L_QQDQQ_NOM}
							</dt>
							<dd class="document_ag">
								<span><a href="candidatures/candidature_Qqdqq.pdf">{L_PROFESSION_FOI}</a></span>
							</dd>
							<dd class="vote_ag"><span><b>{L_VOTE_OK}</b></span></dd>
						</dl>
					</li>					
					<li class="row">
						<dl class="icon_ag">
							<div class="ag-image" id="img_cap">Parti Pirate</div>
							<dt title="{L_CANDIDAT}" class="nom_candidat">
								<a href="http://forum.partipirate.org/membre/harpalos/" class="forumtitle" target="_blank">{L_HARPALOS}</a><br />
								{L_HARPALOS_NOM}
							</dt>
							<dd class="document_ag">
								<span><a href="candidatures/candidature_Harpalos.pdf">{L_PROFESSION_FOI}</a></span>
							</dd>
							<dd class="vote_ag"><span><b>{L_VOTE_OK}</b></span></dd>
						</dl>
					</li>

					<li class="row">
						<dl class="icon_ag">
							<div class="ag-image" id="img_cap">Parti Pirate</div>
							<dt title="{L_CANDIDAT}">
								<a href="http://forum.partipirate.org/membre/marou/" class="forumtitle" target="_blank">{L_MAXROU}</a><br />
								{L_MAXROU_NOM}
							</dt>
							<dd class="document_ag">
								<span><a href="candidatures/candidature_Maxrou.pdf">{L_PROFESSION_FOI}</a></span>
							</dd>
							<dd class="vote_ag"><span><b>{L_VOTE_OK}</b></span></dd>
						</dl>
					</li>
					<li class="row">
						<dl class="icon_ag">
							<div class="ag-image" id="img_cap">Parti Pirate</div>
							<dt title="{L_CANDIDAT}">
								<a href="http://forum.partipirate.org/membre/Ombre/" class="forumtitle" target="_blank">{L_OMBRE}</a><br />
								{L_OMBRE_NOM}
							</dt>
							<dd class="document_ag">
								<span><a href="candidatures/candidature_Ombre.pdf">{L_PROFESSION_FOI}</a></span>
							</dd>
							<dd class="vote_ag"><span><b>{L_VOTE_OK}</b></span></dd>
						</dl>
					</li>					
					<li class="row">
						<dl class="icon_ag">
							<div class="ag-image" id="img_cap">Parti Pirate</div>
							<dt title="{L_CANDIDAT}">
								<a href="http://forum.partipirate.org/membre/Paul/" class="forumtitle" target="_blank">{L_PAUL}</a><br />
								{L_PAUL_NOM}
							</dt>
							<dd class="document_ag">
								<span><a href="candidatures/candidature_Paul.pdf">{L_PROFESSION_FOI}</a></span>
							</dd>
							<dd class="vote_ag"><span><b>{L_VOTE_OK}</b></span></dd>
						</dl>
					</li>				
					<li class="row">
						<dl class="icon_ag">
							<div class="ag-image" id="img_cap">Parti Pirate</div>
							<dt title="{L_CANDIDAT}">
								<a href="http://forum.partipirate.org/membre/Sims/" class="forumtitle" target="_blank">{L_SIMS}</a><br />
								{L_SIMS_NOM}
							</dt>
							<dd class="document_ag">
								<span><a href="candidatures/candidature_Sims.pdf">{L_PROFESSION_FOI}</a></span>
							</dd>
							<dd class="vote_ag"><span><b>{L_VOTE_OK}</b></span></dd>
						</dl>
					</li>																				
					<li class="row">
						<dl class="icon_ag">
							<div class="ag-image" id="img_cap">Parti Pirate</div>
							<dt title="{L_CANDIDAT}">
								<a href="http://forum.partipirate.org/membre/tornade/" class="forumtitle" target="_blank">{L_TORNADE}</a><br />
								{L_TORNADE_NOM}
							</dt>
							<dd class="document_ag">
								<span><a href="candidatures/candidature_Tornade.pdf">{L_PROFESSION_FOI}</a></span>
							</dd>
							<dd class="vote_ag"><span><b>{L_VOTE_OK}</b></span></dd>
						</dl>
					</li>											
					<li class="row">
						<dl class="icon_ag">
							<div class="ag-image" id="img_ag">Parti Pirate</div>
							<dt title="{L_CANDIDAT}">
								<a href="http://forum.partipirate.org/membre/jancry/" class="forumtitle" target="_blank">{L_JANCRY}</a><br />
								{L_JANCRY_NOM}
							</dt>
							<dd class="document_ag">
								<span><a href="candidatures/candidature_Jancry.pdf">{L_PROFESSION_FOI}</a></span>
							</dd>
							<dd class="vote_ag"><span>{L_VOTE_NO}</span></dd>
						</dl>
					</li>					
					<li class="row">
						<dl class="icon_ag">
							<div class="ag-image" id="img_ag">Parti Pirate</div>
							<dt title="{L_CANDIDAT}">
								<a href="http://forum.partipirate.org/membre/AgentK/" class="forumtitle" target="_blank">{L_KARIMA}</a><br />
								{L_KARIMA_NOM}
							</dt>
							<dd class="document_ag">
								<span><a href="candidatures/candidature_Karima.pdf">{L_PROFESSION_FOI}</a></span>
							</dd>
							<dd class="vote_ag"><span>{L_VOTE_NO}</span></dd>
						</dl>
					</li>
					<li class="row">
						<dl class="icon_ag">
							<div class="ag-image" id="img_ag">Parti Pirate</div>
							<dt title="{L_CANDIDAT}">
								<a href="http://forum.partipirate.org/membre/ko/" class="forumtitle" target="_blank">{L_KO}</a><br />
								{L_KO_NOM}
							</dt>
							<dd class="document_ag">
								<span><a href="candidatures/candidature_Ko.pdf">{L_PROFESSION_FOI}</a></span>
							</dd>
							<dd class="vote_ag"><span>{L_VOTE_NO}</span></dd>
						</dl>
					</li>					
					<li class="row">
						<dl class="icon_ag">
							<div class="ag-image" id="img_ag">Parti Pirate</div>
							<dt title="{L_CANDIDAT}">
								<a href="http://forum.partipirate.org/membre/Raphaël Florès/" class="forumtitle" target="_blank">{L_RAPH}</a><br />
								{L_RAPH_NOM}
							</dt>
							<dd class="document_ag">
								<span><a href="candidatures/candidature_Raph.pdf">{L_PROFESSION_FOI}</a></span>
							</dd>
							<dd class="vote_ag"><span>{L_VOTE_NO}</span></dd>
						</dl>
					</li>					
				</ul>
			<span class="corners-bottom"><span></span></span></div>
		</div>
		
		<br />                
		<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
				<ul class="topiclist">
					<li class="header">
						<dl class="icon_ag">
							<dt>{L_POSTES_CN}</dt>					
							<dd class="document_ag">&nbsp;</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist forums">
					<li class="row">
						<dl class="icon_ag">
							<div class="ag-image" id="img_cn">Parti Pirate</div>
							<dt title="{L_CANDIDAT}" class="nom_candidat">
								<a href="http://forum.partipirate.org/membre/harpalos/" class="forumtitle" target="_blank">{L_HARPALOS}</a><br />
								{L_HARPALOS_NOM}
							</dt>
							<dd class="document_ag">
								<span><a href="candidatures/candidature_Harpalos.pdf">{L_PROFESSION_FOI}</a></span>
							</dd>
							<dd class="vote_ag"><span><b>{L_VOTE_OK}</b></span></dd>
						</dl>
					</li>
					<li class="row">
						<dl class="icon_ag">
							<div class="ag-image" id="img_cn">Parti Pirate</div>
							<dt title="{L_CANDIDAT}">
								<a href="http://forum.partipirate.org/membre/Raphaël Florès/" class="forumtitle" target="_blank">{L_PEER}</a><br />
								{L_PEER_NOM}
							</dt>
							<dd class="document_ag">
								<span><a href="candidatures/candidature_Peer@.pdf">{L_PROFESSION_FOI}</a></span>
							</dd>
							<dd class="vote_ag"><span><b>{L_VOTE_OK}</b></span></dd>
						</dl>
					</li>								
					<li class="row">
						<dl class="icon_ag">
							<div class="ag-image" id="img_ag">Parti Pirate</div>
							<dt title="{L_CANDIDAT}">
								<a href="http://forum.partipirate.org/membre/Raphaël Florès/" class="forumtitle" target="_blank">{L_RAPH}</a><br />
								{L_RAPH_NOM}
							</dt>
							<dd class="document_ag">
								<span><a href="candidatures/candidature_Raph.pdf">{L_PROFESSION_FOI}</a></span>
							</dd>
							<dd class="vote_ag"><span>{L_VOTE_NO}</span></dd>
						</dl>
					</li>			
				</ul>	
			<span class="corners-bottom"><span></span></span></div>
		</div>
		
<!-- INCLUDE jumpbox.html -->

<!-- INCLUDE overall_footer.html -->
