<!-- INCLUDE overall_header.html -->
<h2>Charte des forums du Parti Pirate</h2>

	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>
		<div class="content">
		<span style="font-weight:bold;font-size:14px;">Charte modération</span>
		<p>&nbsp;</p>
			<p>Tous les membres du forum s'engagent par leur inscription à suivre la présente charte.</p>
			<p>Ce  forum a pour but l'expression aussi libre que possible de ses membres  sur le “Forum du Parti Pirate”, et tous les sujets sur lesquels le Parti  Pirate est partie prenante, intervient ou devrait intervenir.</p>
			<p>&nbsp;</p>
		<span style="font-weight:bold;font-size:14px;">Avant de poster :</span>
		<p>&nbsp;</p>
			<p>Passez dans le forum d'Accueil pour vous présenter.</p>
			<p>Tout  message posté sur le forum n'engage que la responsabilité de son  auteur. Il n'engage pas la responsabilité de l'équipe d'administration et de modération du forum, ou du Parti Pirate, et ne reflète  en aucun cas les opinions du Parti Pirate et des administrateurs du site.</p>
			<p>Si vous êtes adhérent ou le devenez, votre compte sur le forum et le pseudonyme associé seront promus automatiquement au groupe /adhérent/. L'appartenance à ce groupe est visible publiquement et permet d'accéder à la partie du forum "réservée aux adhérents". Si vous ne souhaitez pas rendre cette information publique, il vous est possible de vous inscrire sur le forum sous un autre pseudonyme, que le Parti ne rattachera pas à votre adhésion.</p>
			<p>En  cas de non respect de cette charte et des lois et réglementations en vigueur en France, l’auteur s’expose, au delà du simple retrait de son message sur ce forum, aux sanctions civiles ou pénales afférentes.</p>
			<p>Les messages sur le forum se doivent d'être courtois et de suivre les principes de la Nétiquette. D'ailleurs, il est formellement autorisé de  dire "bonjour", "merci", d'utiliser les smileys et même d'avoir de l'humour.</p>
			<p>Si possible, et pour la compréhension de tous, essayez si possible de poster dans un français aussi correct que possible et d'éviter le SMS, exception faite en particulier du sous-forum international où des amis étrangers s'expriment. N'hésitez pas à vous servir du correcteur d'orthographe de votre navigateur et à vous relire. Au demeurant, il n'y a pas de  tribunal de l'orthographe et la tolérance est de mise. L'important est que tout membre puisse s'exprimer selon ses capacités et ceci prime sur ce qui précède.</p>
			<p>Les  acronymes usuels sont autorisés. Si vous n'en comprenez pas un, la  wikipédia, le wiktionnaire, et les moteurs de recherche sont vos amis. (Si un membre veut lister les acronymes usuels utilisés en forum, qu'il se dénonce.)</p>
			<p>ÉVITEZ AUTANT QUE POSSIBLE LES LETTRES CAPITALES, respectez les oreilles des autres membres. Ils ne sont pas ENCORE sourds (quoique…)</p>
			<p>Essayez de mettre un titre clair si vous ouvrez une discussion.</p>
			<p>Les fils de discussion en doublon sont supprimés sans préavis.</p>
			<p>Le hors-sujet (HS ou OT) est à éviter et pourra être supprimé.</p>
			<p>La majeure partie du forum est publique et indexée sur les moteurs de recherche. Si vous ne  désirez pas qu'une information soit publique, ne la postez pas.</p>
			<p>Les messages et avatars ne doivent pas contrevenir au droit d'auteur. L'exception de courte citation s'applique, à condition nommer l'auteur et la source (accompagnés si possible d'un lien). Tout matériel posté sous une licence alternative doit préciser la licence concernée et ses dépendances.</p>
			<p>De même, tout fragment cité à l'extérieur du site qui a pour origine le forum devra respecter les règles de citation (auteur, URL précise).</p>
			<p>Sont notamment interdits dans le forum :<p>
			<p style="margin-left:30px;"><b>*&nbsp;&nbsp;</b>le spam</p>
			<p style="margin-left:30px;"><b>*&nbsp;&nbsp;</b>les coordonnées personnelles (nom, adresse postale, téléphone, emails de tiers...)</p>
			<p style="margin-left:30px;"><b>*&nbsp;&nbsp;</b>les adresses e-mails en clair</p>
			<p style="margin-left:30px;"><b>*&nbsp;&nbsp;</b>les menaces</p>
			<p style="margin-left:30px;"><b>*&nbsp;&nbsp;</b>les insultes et propos injurieux, ad hominem ou pas.</p>
			<p style="margin-left:30px;"><b>*&nbsp;&nbsp;</b>la diffamation (atteinte à l'honneur)</p>
			<p style="margin-left:30px;"><b>*&nbsp;&nbsp;</b>les propos attentatoires à la vie privée, au secret médical, au secret  professionnel, à la sécurité des personnes et des biens.</p>
			<p style="margin-left:30px;"><b>*&nbsp;&nbsp;</b>l'atteinte au droit à l'image</p>
			<p style="margin-left:30px;"><b>*&nbsp;&nbsp;</b>l'apologie de crimes et délits</p>
			<p style="margin-left:30px;"><b>*&nbsp;&nbsp;</b>et en particulier tout propos racistes, les apologies de crime de  guerre, de crime contre l'humanité, le négationnisme, le révisionnisme.</p>
			<p>(En application du droit français, n'oubliez pas que vous en serez légalement responsable.)</p>
			<p>Soyez attentif aux données à caractère personnel que vous risquez de publier (qu'elles concernent vous-même ou un tiers). Ces informations ne deviennent pas la propriété du Parti Pirate, et si vous souhaitez un jour les retirer du forum, il vous faudra les effacer vous-même. Elles pourront entremps avoir été répliquées par des systèmes tiers et diffusées sur Internet, en des endroits dont vous ne pourrez peut-être pas les retirer.</p>
			<p>Tout  fil qui devient une réserve naturelle incendiaire et poilue de trolls sera fermé et estampillé comme tel. Cette fermeture sera d'une durée de 3 à 7 jours. Le fil sera fermé définitivement si le fil repart en trollerie sauvage. Seuls les modérateurs peuvent dans ce cas ouvrir un fil parallèle pour réorienter la discussion.</p>
			<p>&nbsp;</p>
		<span style="font-weight:bold;font-size:14px;">Administration</span>
		<p>&nbsp;</p>
			<p>Le  forum est sous la garde de l'administrateur qui gère les  aspects techniques, et de l'équipe de modération qui veille à à la bonne marche des forums selon la présente charte.</p>
			<p>En  cas de problème technique, commencez par signaler le problème en forum par le biais des liens de signalement, puis, si l'intervention des modérateurs ne résout pas le problème, contactez l'administrateur, qui peut être joint par mail à : <p>
			<code>< technique@partipirate.org > / < moderateur@partipirate.org ></code>
			<p>&nbsp;</p>
		<span style="font-weight:bold;font-size:14px;">Modération</span>
		<p>&nbsp;</p>
			<p>La modération s'exerce à postériori.</p>
			<p>Les modérateurs ont le droit de déplacer, modifier, supprimer les titres et  les messages postés s'il contreviennent à la charte ou s'ils sont mal placés. Les modérateurs peuvent fermer un sujet de même. Les modérateurs se doivent d'être neutres et ne sont en aucun cas des censeurs, mais ils  appliquent la charte aussi bien que possible ou s'en inspirent pour  préserver le calme et des échanges aussi fructueux que possible.</p>
			<p>Le non respect, répété, des décisions de modération entrainera le bannissement du forum.</p>
			<p>Les  modérateurs sont responsables de la bonne tenue des forums sous la supervision du modérateur général. Leurs décisions sont, sauf urgence, collégiales. Leurs décisions sont prises selon la charte et motivées en privé à postériori. Les décisions ne sont contestables qu'auprès du modérateur général et toujours en privé.</p>
			<p>Pour  les cas non prévus par la présente charte et qui nécessitent une intervention, le collège des modérateurs statue après décision provisoire du modérateur général. Le collège peut demander l'avis du bureau du Parti Pirate pour prendre une décision. En dernier recours, le Parti Pirate est habilité à arbitrer.</p>
			<p>Les  membres peuvent proposer toutes modifications et améliorations de la Charte qu'ils estiment utiles. La présente charte est modifiable sans préavis sur décision du bureau du Parti Pirate ou du collège de modération et de l'administrateur après avis du bureau du Parti Pirate.</p>
			<p>&nbsp;</p>
		<span style="font-weight:bold;font-size:14px;">Sanctions :</span></p>
		<p>&nbsp;</p>
			<p style="margin-left:30px;"><b>*&nbsp;&nbsp;</b>Les sanctions possibles sont :</p>
			<p style="margin-left:30px;"><b>*&nbsp;&nbsp;</b>la modification ou la suppression totale ou partielle d'un titre ou d'un message.</p>
			<p style="margin-left:30px;"><b>*&nbsp;&nbsp;</b>Le signalement du fil de discussion comme "appeau à troll".</p>
			<p style="margin-left:30px;"><b>*&nbsp;&nbsp;</b>La suppression des droits de publication pendant une semaine.</p>
			<p style="margin-left:30px;"><b>*&nbsp;&nbsp;</b>Le bannissement momentané de 3 jours, un mois, ou définitif.</p>
			<p style="margin-left:30px;"><b>*&nbsp;&nbsp;</b>L'effacement du compte.</p>
			<p>&nbsp;</p>
		<span style="font-weight:bold;font-size:14px;">Informatique et liberté, données personnelles :</span>
		<p>&nbsp;</p>
			<p>L'option d'enregistrement de vos identifiant et mot de passe sur les forums nécessite l'emploi d'un cookie persistant (stocké sur le disque dur de  votre ordinateur). Ce fichier a pour seule fonction de simplifier votre  accès aux forums en supprimant la phase de saisie de votre identifiant  et de votre mot de passe. Nous vous recommandons toutefois de ne pas avoir recours à ce cookie si vous accédez aux forums sur un poste en  accès public.</p>
			<p>Conformément aux dispositions de la loi Informatique et Libertés du 6 janvier 1978 modifiée par la Loi du 6 août 2004, toutes les données informatiques vous concernant sont traitées de manière confidentielle. Vous disposez d'un droit d'accès, de rectification, et d'opposition sur vos données.</p>
			<p>Vous pouvez à tout moment supprimer vos propres messages, ou nous demander de l'aide pour cela en contactant un ou plusieurs des modérateurs globaux indiqués sur <a href="http://forum.partipirate.org/equipe.html">http://forum.partipirate.org/equipe.html</a> par la messagerie interne du forum. Dans ce dernier cas, prenez soin d'indiquer le titre et la date de publication du message, le pseudonyme utilisé et l'URL et nous vous assiterons dans la mesure de nos ressources.</p>
			<p>Si vous souhaitez exercer votre droit de suppression ou de modification de données à caractère personnel contenues sur les pages du forum, vous pouvez le faire de la manière suivante :</p>
			<p style="margin-left:30px;"><b>*&nbsp;&nbsp;</b>pour toute information à caractère personnel que vous souhaitez ne plus voir figurer dans un message, utilisez le bouton [éditer] du message pour modifier ou effacer totalement le contenu du message.</p>
			<p style="margin-left:30px;"><b>*&nbsp;&nbsp;</b>sur la page "panneau de contrôle" de votre compte d'utilisateur, modifiez ou effacez les données à caractère personnels éventuellement présentes.</p>
			<p style="margin-left:30px;"><b>*&nbsp;&nbsp;</b>si d'autres membres ont reproduit des parties de vos messages (notamment par la balise [quote]) vous devrez vous adresser directement à ces membres.</p>
			<p>Pour en savoir plus ou pour toute demande non inclue dans les procédures indiquées ci-dessus, contactez-nous par courrier électronique (contact_at_partipirate_dot_org ou listes_at_lists.partipirate.org) en nous indiquant votre identité afin que nous prenions contact avec vous.</p>
		</div>	
	<span class="corners-bottom"><span></span></span></div>
</div>

		
<!-- INCLUDE jumpbox.html -->

<!-- INCLUDE overall_footer.html -->
